
<div class="form">
  <div class="grid-x align-center grid-margin-y">
    <div class="cell medium-8 background-opaque">
      <div class="grid-x align-center grid-margin-y devise-forms background-opaque">
        <div class="cell text-center">
          <h2>Resend confirmation instructions</h2>
        </div>
        <div class="cell">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>

            <div class="actions">
              <%= f.submit "Resend confirmation instructions", :class=>"button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>